@using System.Security.Claims;
@model ReservationFormViewModel
<div class="row">
    <div class="form-wrapper">
        <form asp-controller="Reservation" asp-action="Book" method="post">
            @Html.ValidationSummary(true)
            <div class="form-left-container">

                <input type="hidden" asp-for="UserId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
                @*<input type="hidden" asp-for="LocationId" value="@Model.LocationId" />*@
                <input type="hidden" asp-for="PricePerDay" value="@Model.PricePerDay" id="pricePerDay" />
                <div class="form-group date-form-group">
                    <label asp-for="From"></label>
                    <input asp-for="From" class="form-control" placeholder="From..." type="date" id="From">
                    <span asp-validation-for="From" class="small text-danger"></span>
                </div>
                <div class="form-group date-form-group right-form-group">
                    <label asp-for="To"></label>
                    <input asp-for="To" class="form-control" placeholder="To..." type="date" id="To">
                    <span asp-validation-for="To" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CustomersCount"></label>
                    <input asp-for="CustomersCount" class="form-control" placeholder="CustomersCount" type="number" id="customersCount">
                    <span asp-validation-for="CustomersCount" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AdditionalInformation"></label>
                    <input asp-for="AdditionalInformation" class="form-control" placeholder="Your additional information here..." type="text">
                    <span asp-validation-for="AdditionalInformation" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PromoCode"></label>
                    <input asp-for="PromoCode" class="form-control" placeholder="Promo code..." type="text" id="promocode">
                    <span asp-validation-for="PromoCode" class="small text-danger"></span>
                    <p id="message">The price will be re-calculated once you press submit</p>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" class="form-control" placeholder="Phone number..." type="text">
                    <span asp-validation-for="PhoneNumber" class="small text-danger"></span>
                </div>
            </div>
            <div class="form-right-container">
                <p>Do you want any additional equipment? If so, please specify how many of each.</p>
                @for (var i = 0; i < Model.Equipments.Count; i++)
                {
                    <div class="form-group">
                        <input type="hidden" asp-for="@Model.Equipments[i].Id" />
                        <label class="equipment-label">@Model.Equipments[i].Name</label>
                        <input type="number" asp-for="@Model.Equipments[i].Quantity" class="form-control" value="0" min="0" class="form-control" />
                        <span asp-validation-for="@Model.Equipments[i].Quantity" class="small text-danger"></span>
                    </div>
                }
                <div class="price-btn-wrapper">
                    <p class="total-price-wrapper">Total price: <span id="totalPrice"></span></p>
                    <div class="button-wrapper">
                        <input class="btn btn-primary mt-3" type="submit" value="Save" />
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}