@model List<ReservationFormViewModel>
@{
    ViewBag.Title = "Location Details";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="container mt-4">
    <div class="row justify-content-center">

        @foreach (var reservation in Model)
        {
            <div class="card col-lg-6 col-md-8 mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title mb-3"><b>Reservation for: </b>@reservation.Location.Name</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Field</th>
                                <th scope="col">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Date</td>
                                <td>@reservation.From.ToString("d") - @reservation.To.ToString("d")</td>
                            </tr>
                            <tr>
                                <td>Customers count</td>
                                <td>@reservation.CustomersCount</td>
                            </tr>
                            <tr>
                                <td>Additional information</td>
                                <td>@reservation.AdditionalInformation</td>
                            </tr>
                            @if (reservation.PromoCode != null)
                            {
                                <tr>
                                    <td>Promo code</td>
                                    <td>@reservation.PromoCode</td>
                                </tr>
                                <tr>
                                    <td>Discount</td>
                                    <td>@reservation.Discount %</td>
                                </tr>
                            }
                            <tr>
                                <td>Phone Number</td>
                                <td>@reservation.PhoneNumber</td>
                            </tr>
                            @if (reservation.Equipments.Count > 0)
                            {
                                <tr>
                                    <td>Requested equipment</td>
                                    <td>
                                        @foreach (var equipment in reservation.Equipments)
                                        {
                                            <p class="m-0">&bull; @equipment.Name, @equipment.Quantity</p>
                                        }
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>Total price</td>
                                <td>@String.Format("{0:f2}", @reservation.TotalPrice) BGN</td>
                            </tr>
                        </tbody>
                    </table>
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <div class="mt-3">
                            <a class="btn btn-warning" asp-controller="Reservation" asp-action="Edit" asp-route-id="@reservation.Id">Edit</a>
                            <a class="ml-2 btn btn-danger delete-reservation-btn" asp-controller="Reservation" asp-action="Delete" asp-route-id="@reservation.Id">Delete</a>
                        </div>
                    }
                </div>
            </div>
        }
        <div class="card col-lg-6 col-md-8 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Contacts</h5>
                <p class="card-text"><b>Email:</b> info@@bashhub.bg</p>
                <p class="card-text"><b>Phone Number:</b> +359 888 88 88 88</p>
            </div>
        </div>
    </div>
</div>