@model List<ReservationFormViewModel>
@{
    ViewBag.Title = "Location Details";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="container" style="display:inline">
    <div class="row">

        @foreach (var reservation in Model)
        {
            <div class="card col-8 border-0">
                @*<p style="font-size:25px;"><u>@Model.Name</u></p>*@
                <p>Location: @reservation.Location.Name</p>
                <p>Fom: <b>@reservation.From.ToString("d")</b></p>
                <p>To: <b>@reservation.To.ToString("d")</b></p>

                <p>Customers count: @reservation.CustomersCount</p>
                <p>Additional information: <b>@reservation.AdditionalInformation</b></p>
                <p>Promo code: <b>@reservation.PromoCode</b></p>
                <p>Phone Number: <b>@reservation.PhoneNumber</b></p>

                @foreach (var equipment in reservation.Equipments)
                {
                    <p>Equipment: @equipment.Name, @equipment.Quantity</p>
                }

                <p>
                    Total price:
                    @*<b>@String.Format("{0:f2}", Model.) BGN</b>*@
                </p>


                <div class="form-inline">
                    @*TODO: THE BELOW SHOULD BE AVAILABLE FOR ADMINS ONLY*@
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        @*<a class="btn btn-warning" asp-controller="Reservation" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>*@
                        @*<a class="ml-2 btn btn-danger" asp-controller="Reservation" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>*@
                    }
                </div>
                <p></p>
            </div>
            <hr />

        }
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Agent Info</h5>
                <p class="card-text">Email: info@@bashhub.bg</p>
                <p class="card-text">Phone Number: +359 888 88 88 88</p>
            </div>
        </div>
    </div>
</div>