@model IndexViewModel[]
<div class="row">
    @foreach (var location in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top" src="@location.ImageUrl" alt="House Image">
                <div class="card-body text-center">
                    <h4>@location.Name</h4>
                    <h6>Address: <b>@location.Address</b></h6>
                    <h6>
                        Price Per Day:
                        <b>@String.Format("{0:f2}", location.PricePerDay) BGN</b>
                    </h6>
                    <br />
                    <a asp-controller="Location" asp-action="Details" asp-route-id="@location.Id" class="btn btn-success">Details</a>
                    @*TODO: THE BELOW SHOULD BE AVAILABLE FOR ADMINS ONLY*@
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <a asp-controller="Location" asp-action="Edit" asp-route-id="@location.Id"
                           class="btn btn-warning">Edit</a>
                        <a asp-controller="Location" asp-action="Delete" asp-route-id="@location.Id" class="btn btn-danger">Delete</a>
                        <p></p>
                        <form class="input-group-sm" asp-controller="Reservation" asp-action="Book" asp-route-id="@location.Id" method="get">
                            <input class="btn btn-primary" type="submit" value="Book now" />
                        </form>
                    }
                </div>
            </div>
        </div>
    }
</div>