@model AllReservationsWithLocationsViewModel
@{
    ViewBag.Title = "Location Details";
}

<div class="admin-content-box">
    <h2 class="text-center">@ViewBag.Title</h2>
    <hr />

    <div class="mt-4">
        <p class="h4">Which location would you like to see?</p>
        <div class="mb-4">
            <a href="@Url.Action("All", "Reservation")" class="btn btn-primary m-1">All</a>
            @foreach (var location in Model.Locations)
            {
                <a href="@Url.Action("All", "Reservation", new { locationId = location.Id })" class="btn btn-primary m-1">@location.Name</a>
            }
        </div>

        <div class="table-responsive">
            <table class="table table-striped">

                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Customers Count</th>
                        <!-- Add other columns here -->
                        <th scope="col">Additional Information</th>
                        <th scope="col">Promo code</th>
                        <th scope="col">Discount</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Requested Equipment</th>
                        <th scope="col">Total Price</th>
                        <th scope="col">User Email</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var reservation in Model.Reservations)
                    {
                        <tr>
                            <td>@reservation.From.ToString("d") - @reservation.To.ToString("d")</td>
                            <td>@reservation.CustomersCount</td>
                            <!-- Add other cells here -->
                            <td>@(reservation.AdditionalInformation ?? "-")</td>
                            <td>@(reservation.PromoCode ?? "-")</td>
                            <td>@(reservation.PromoCode != null ? $"{reservation.Discount} %" : "-")</td>
                            <td>@reservation.PhoneNumber</td>
                            <td>
                                @if (reservation.Equipments.Count > 0)
                                {
                                    @foreach (var equipment in reservation.Equipments)
                                    {
                                        <p class="m-0">@equipment.Name, @equipment.Quantity</p>
                                    }
                                }
                                else
                                {
                                    <p class="m-0">-</p>
                                }
                            </td>
                            <td>@String.Format("{0:f2}", @reservation.TotalPrice) BGN</td>
                            <td>@reservation.UserEmail</td>
                            <td>
                                <div class="d-flex flex-column">
                                    <div class="mb-1">
                                        <a class="btn btn-warning" asp-controller="Reservation" asp-action="Edit" asp-route-id="@reservation.Id">Edit</a>
                                    </div>
                                    <div>
                                        <a class="btn btn-danger delete-reservation-btn" asp-controller="Reservation" asp-action="Delete" asp-route-id="@reservation.Id">Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>